/* Login Form */

.main_container {
  display: flex;
  justify-content: space-between;
  margin: 10px 75px;
  height: 90vh;
  width: 90%;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.image_container {
  display: flex;
}

.image_container img {
  width: 500px;
  object-fit: cover;
}

.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  margin-right: 100px;
  background-color: var(--white);
  height: 100%;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.login_container h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

.login_container form {
  padding: 0 40px;
  box-sizing: border-box;
}

.login_container form .input_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.login_container form .input_field.errorInput span::before {
  background: red;
  width: 100%;
}

.login_container form .input_field.errorInput label {
  color: red;
}

.input_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.input_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

.input_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--black);
  transition: 0.5s;
}

.input_field input:focus ~ label {
  top: -5px;
  color: var(--black);
}

.input_field input:focus ~ span::before {
  width: 100%;
}

.input_field p {
  color: red;
  font-size: 15px;
  position: absolute;
  right: 0;
  top: 30%;
  transition: f;
}

.forgot_pass {
  margin: -5px 0 20px 5px;
  color: var(--grey);
  cursor: pointer;
}

.forgot_pass:hover {
  text-decoration: underline;
}

.login_container form button {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: var(--black);
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.login_container form button:hover {
  border-color: var(--black);
  transition: 0.5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: var(--grey);
}

.signup_link a {
  color: var(--black);
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}
