.mainFooter {
  display: flex;
  justify-content: space-between;
  height: 100px;
  color: var(--light-grey);
  /* border: 1px solid #fff; */
}

.mainFooter .footerCopyright {
  display: flex;
  align-items: center;
}

.mainFooter .footerCopyright small a {
  color: var(--white);
}

.mainFooter .footerSocial {
  display: flex;
  align-items: center;
}

.mainFooter .footerSocial a {
  margin-right: 15px;
}

.mainFooter .footerSocial a:last-child {
  margin-right: 0;
}

.mainFooter .footerSocial a p {
  font-size: 14px;
}

.mainFooter .footerSocial a p:hover {
  color: var(--white);
}

@media only screen and (max-width: 768px) {
  .mainFooter .footerCopyright {
    visibility: hidden;
    display: none;
  }

  .mainFooter .footerSocial {
    justify-content: center;
    width: 100%;
  }
}
