.navigationWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  position: relative;
}

.navigationWrapper .backVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.navigationWrapper nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: hsla(0, 0%, 100%, 0.8);
  backdrop-filter: saturate(180%) blur(5px);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
  transition: padding 1s;
  z-index: 1;
}

.navigationWrapper nav a img {
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  width: 225px;
  cursor: pointer;
}

.navigationWrapper nav .menu {
  text-align: center;
  margin: 5px 0 0 0;
  width: auto;
}

.navigationWrapper nav .menu div {
  display: inline-block;
  list-style-type: none;
  margin: 20px;
  color: #fff;
}

.navigationWrapper nav .menu div a {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--black);
  font-size: 20px;
}

.navigationWrapper .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 110px 0 0 0;
}

.navigationWrapper .content img {
  width: 650px;
}

.content {
  position: relative;
}

.content p {
  position: absolute;
  color: #fff;
  top: 35%;
  font-size: 30px;
  line-height: 45px;
  font-weight: 600;
  opacity: 0;
}

.content span img {
  background-position: center;
  background-size: cover;
  width: 50%;
}

.content .links {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #fff;
  bottom: 25%;
  right: 35%;
  opacity: 0;
}

.content .LearnMore {
  border: 2px solid #fff;
  padding: 10px 35px;
  border-radius: 30px;
  margin-right: 15px;
}

.content .LearnMore:hover {
  color: var(--black);
  background-color: var(--white);
}

.content .contact {
  margin: 15px 0 0 50px;
}

.content .contact:hover {
  text-decoration: underline;
}

.slideLeft {
  animation: slideLeft 1s linear forwards;
}

@keyframes slideLeft {
  0% {
    transform: translate(100px);
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}

p.slideLeft {
  animation-delay: 1s;
}

.links.slideLeft {
  animation-delay: 2s;
}

/* Responsive */

@media (min-aspect-ratio: 16/9) {
  .backVideo {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .backVideo {
    width: auto;
    height: 100%;
  }
}
